html{
	font-size: 20px;
}
html, body{
	height: 100%;
	background-color: #08070a;
	/*background-color: pink;*/

}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #fff;

}
ul{
	list-style: none;
}
.wrapper{
	width: 1000px;
	margin: 0 auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}



/*Container start///////////*/
#container{
	background-color: #ccc;
	position: relative;
	left: 0;
	top: 0;
	/*display: -webkit-box;*/
}
/*Container end////////////*/


.test{
	height: 700px;
	background-color: #fff;
	/*margin-bottom: 20px;*/
}











